.notes-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.add-button {
  background-color: var(--blue);
  color: white;
  padding: 0.8em 1.8em;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 1em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.warn-message {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: var(--grey);
  font-size: 1.3rem;
}
