.note-card {
  background-color: var(--yellow);
  height: 300px;
  min-width: 150px;
  width: 300px;
  padding: 1em;
  box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  margin: 1.5em;
  cursor: pointer;
  position: relative;
}

.note-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.note-card h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.trash-can {
  color: var(--grey);
  cursor: pointer;
}

.note-card p {
  font-family: "Indie Flower", cursive;
  font-size: 1.7rem;
  white-space: pre-line;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.note-footer {
  font-family: "Montserrat", sans-serif;
  border-top: 1px solid #000;
  padding: 1em 0;
  position: absolute;
  bottom: 0;
  left: 1em;
  right: 1em;
}

